/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    width:100vw;
    height: 100vh;
     
}
header {
    background-color: black;
    height: 50vh;
}

main {
    height: 50vw;
    
}


footer{
    height: 10vh;
}



.sectionPoema{
    display: inline-block;
    height: 60vh;
    width: 26vw;

}

.sectionPoema__img{
    
    height: 25vh;
    width: 25vw;
   
}


@media (min-width: 576px) {
    

}

    

@media (min-width: 768px) {
    
 }


@media (min-width: 992px) { }


@media (min-width: 1200px) { }


@media (min-width: 1400px) { }